<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Data API for the groceries web app rewritten in Vue.js</title>
    <meta name="description" content="Data API for the groceries web app rewritten in Vue.js">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Brian Zelip, @bzelip">
  </head>
  
  <body>
    <p>
      This isn't the web page you're looking for.
    </p>
  </body>
</html>
